#feuille{
    width: 15%;

    

}

h1{
    color: rgb(250, 250, 250);
    text-align: center;
    font-size:40px;
    width: 150%;
    border : double
}
h2{
    color: rgb(177, 6, 148);
    text-align: center;
    size: 150px;
    border: outset 2px
    
}
h3{
    color: rgb(218, 126, 34);
    
}


#bloc1{
    color: rgb(218, 126, 34);
  }
#bloc2{
    color: rgb(218, 126, 34);
    position: absolute;
    width: 15%;
   justify-content: space-between;
  
}
body{
    background-size:100%;
    background-attachment: fixed;
}

.zorro{
    text-align: center;
}

#bloc1 {
 margin-top: 20px;
 margin-left: 5px;
}

#bloc2 {
    margin-top: 20px;
    margin-left: 5px;
   }
