h1{
    color: rgb(83, 82, 81);
}

.p>{
    color: rgb(69, 124, 243);
}
body{
    background-size: 100%;
}

.zorro{
    text-align: center;
}

.container {
 margin-top: 220px;
 margin-left: 225px;
}

